.About {
  padding: 20px;
}

.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.active {
  border-bottom: 4px solid #eb314a;
  font-size: 20px;
}

.items {
  cursor: pointer;
  display: flex;
  align-items: center;
}
